@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: center;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
}
