<footer class="footer background-red">
  <div class="container">
    <div class="footer-main">
      <div class="footer-left">
        <ul class="footer-items">
          <li class="footer-item"><a class="footer-link" href="#">首頁</a></li>
          <li class="footer-item">
            <a class="footer-link" href="#">系列鏡框</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">門市據點</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">部落格</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">常見問題</a>
          </li>
        </ul>
        <div class="info-area">
          <span class="material-symbols-outlined"> call </span
          ><a href="tel:0800000000" class="info">0800-000-000</a>
        </div>
        <div class="info-area">
          <span class="material-symbols-outlined"> mail </span
          ><a href="mailto:glasses@business.com" class="info"
            >glasses@business.com</a
          >
        </div>
      </div>
      <ul class="footer-right">
        <li class="footer-icon">
          <a href="#"
            ><img
              class="footer-icon-img"
              src="./../assets/images/ic-social-fb.png"
              alt="Facebook"
          /></a>
        </li>
        <li class="footer-icon">
          <a href="#"
            ><img
              class="footer-icon-img"
              src="./../assets/images/ic_social_ig.png"
              alt="Instagram"
          /></a>
        </li>
        <li class="footer-icon">
          <a href="#"
            ><img
              class="footer-icon-img"
              src="./../assets/images/ic_social_line.png"
              alt="Line"
          /></a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="copyright">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="terms">
        <li class="term"><a class="term-link" href="#">隱私權政策</a></li>
        <li class="term"><a class="term-link" href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
