.footer {
  padding-top: 48px;
  padding-bottom: 32px;

  @media (max-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-items {
  display: flex;
  @media (max-width: 768px) {
    display: none;
  }
}

.footer-item {
  height: 100%;
}

.footer-link {
  display: block;
  height: 100%;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  &:hover {
    opacity: 0.7;
  }
}

.footer-right {
  display: flex;
  align-items: flex-start;
}

.footer-icon {
  padding: 0 16px;
}

.footer-icon-img {
  max-width: 48px;

  @media (max-width: 768px) {
    max-width: 24px;
  }
}

.footer-items:first-child .footer-link {
  padding-left: 0;
}

.info-area {
  display: flex;
  align-items: center;
  line-height: 54px;
  margin-bottom: 8px;

  @media (max-width: 768px) {
    line-height: 24px;
  }
}

.material-symbols-outlined {
  color: #ffffff;
  font-size: 48px;
  margin-right: 16px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.info {
  color: #ffffff;
  font-size: 36px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.footer-left {
  margin-bottom: 24px;
}

.footer-bottom {
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.copyright,
.term-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}

.copyright,
.term {
  @media (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.terms {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.term {
  margin-left: 48px;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.term-link {
  :hover {
    opacity: 0.7;
  }
}
