.navbar {
  padding: 16px 0;
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.navbar-logo {
  width: 80px;

  @include mobile {
    margin: 0 0 16px 16px;
  }
}

.navbar-items {
  display: flex;
  align-items: center;

  @include mobile {
    flex-wrap: wrap;
  }
}

.navbar-item {
  height: 100%; /*why*/

  @include mobile {
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.navbar-link {
  display: block;
  height: 100%;
  padding: 8px 16px;
  font-size: 20px;
  line-height: 39px;
  color: rgba(255, 255, 255, 1);
  &:hover {
    opacity: 0.7;
  }

  @include mobile {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 12px 0;
  }
}

.navbar-item:last-child .navbar-link {
  padding-right: 0;
}
